.header {
  padding: 170px 30px 80px;

  @include mq-up("sp") {
    padding-top: 60px;
  }
}

.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;

  @include mq-up("sp") {
    font-size: 1.7rem;
  }

  &::before,
  &::after {
    content: "";
    display: inline-block;
    width: 140px;
    height: 2px;
    margin: 0 30px;
    background-color: #fff;
    vertical-align: middle;

    @include mq-up("sp") {
      display: block;
      width: 80%;
      margin: 10px auto;
    }
  }
}

.site-title {
  margin: 50px 0 40px;
  font-size: 7.6rem;

  @include mq-up("sp") {
    margin-top: 35px;
    font-size: 5rem;
  }
}

.site-description {
  margin-bottom: 50px;
  color: #888;
  font-size: 1.6rem;
}

// buttonの独立ファイルに切り出す?
.button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;

  &:hover {
    opacity: 0.9;

    @include mq-up("sp") {
      opacity: 1;
    }
  }

  &-showy {
    background-color: #f1b400;
  }
}

.buttons .button {
  margin: 10px;
}
